@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:200,400,600&display=swap');

:root {
    --desatRed: hsl(0, 36%, 70%);
    --softRed: hsl(0, 93%, 68%);
    --darkGray: hsl(0, 6%, 24%);
}

* {
    box-sizing: border-box;
    margin: 0;
    /* padding: 0; */
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    min-height: 100vh;
}

.left {
    padding: 0 40px;
    background-image: url('/images/bg-pattern-desktop.svg');
    /* background-size: cover; */
    width: 55%;
}

.bg-mobile {
    display: none;
}

.inner-container {
    max-width: 450px;
}

.logo {
    margin: 50px 0;
    width: 200px;
}

h1 {
    font-size: 60px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: var(--darkGray);
}

h1 span {
    color: var(--desatRed);
    font-weight: 200;
}

p {
    color: var(--desatRed);
    line-height: 25px;
    margin: 40px 0;
}

form {
    position: relative;
}

input {
    background-color: tranparent;
    border: 1px solid hsl(0, 36%, 70%);
    font-size: 16px;
    border-radius: 50px;
    padding: 15px 30px;
    height: 55px;
    width: 100%;
    position: relative;
}

input:focus {
    box-shadow: 0px 0px 8px hsl(0, 36%, 70%);
    outline: none;
}

input::placeholder {
    color: hsl(0, 36%, 70%);
}

form.error input {
    border: 2px solid hsl(0, 93%, 68%);
}

button {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 2px 2px 10px hsl(0, 36%, 70%);
    border: none;
    border-radius: 50px;
    width: 100px;
    padding: 15px;
    top: 0;
    right: 0;
    position: absolute;
    height: 55px;
    cursor: pointer;
    outline: none;
    /* transform: background-image 0.2s ease; */
}

button:hover {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 100%, 98%));
}

.error-icon {
    position: absolute;
    top: 15px;
    right: 110px;
    display: none;
}

form.error .error-icon {
    display: block;
}

small {
    color: var(--softRed);
    display: none;
    margin-top: 15px;
    margin-left: 30px;
}

form.error small {
    display: block;
}

.right {
    width: 45%;
}



.bg-image {
    background-image: url('/images/hero-desktop.jpg');
    background-size: cover;
    background-position: center;
}

/* Mobile Design */
@media screen and (max-width:600px) {
    .left {
        width: 100%;
    }

    .bg-mobile {
        display: block;
        margin-left: -40px;
        margin-right: -40px;
        width: calc(100% + 80px);
    }

    h1 {
        margin-top: 30px;
    }

    .right {
        display: none;
    }
}